﻿@inherits  Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Layout.cshtml";
}


<style>



    .btn-circle.btn-sm {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        font-size: 8px;
        text-align: center;
    }

    .btn-circle.btn-md {
        width: 50px;
        height: 50px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }
</style>

<div class="container">
   
    <div class="row mt-5">
        <div class="col-lg-2 bg-white pt-2 ">
            <div id="1" class="col-md-12 col-xs-12 text-center card pt-5 mt-1 pb-4 " onclick="ShowContent(this.id)">
                <i class="fas fa fa-image fa-2x"></i>
                <p class=" d-none d-sm-block">
                    Upload motiv
                </p>
            </div>
            <div id="2" class="col-md-12 col-xs-12 text-center card pt-5 mt-3  pb-4" onclick="ShowContent(this.id)">
                <i class="fas fa fa-image fa-2x"></i>
                <p class=" d-none d-sm-block">
                    Tilføj font
                </p>
            </div>
            <div id="3" class="col-md-12 col-xs-12 text-center card pt-5 mt-3  pb-4" onclick="ShowContent(this.id)">

                <i class="fas fa fa-image fa-2x"></i>
                <p class=" d-none d-sm-block">
                    Skabeloner
                </p>


                <script>
                    function ShowContent(id) {
                        if (id == 1) {

                            document.getElementById("upload").style.display = '';
                            document.getElementById("images").style.display = 'none';
                            document.getElementById("fonts").style.display = 'none';
                            document.getElementById("content").style.display = '';
                        }
                        if (id == 2) {
                            document.getElementById("fonts").style.display = '';
                            document.getElementById("images").style.display = 'none';
                            document.getElementById("upload").style.display = 'none';
                            document.getElementById("content").style.display = '';
                        }

                        if (id == 3) {

                            document.getElementById("content").style.display = '';
                            document.getElementById("images").style.display = '';
                            document.getElementById("upload").style.display = 'none';
                            document.getElementById("fonts").style.display = 'none';

                        }



                    }
                </script>

            </div>
        </div>

        <div class="col-lg-6  bg-white mx-3  ">
            <div class="col-md-12">
                
    
                @Umbraco.RenderMacro("uCommerceDesignerpageShow")
            </div>
            <div class="col-md-12 pb-5 text-center">
              

                @Umbraco.RenderMacro("uCommerceDesignerpageChoose")


            </div>

        </div>
        <div id="content" style="display:none;" class="col-md-3 pt-3 mt-1  bg-white">
            <div class="col-12" id="upload" style="display:none;">
                <label>
                    Upload et motiv
                </label>


                <form>
                    <div class="form-group">

                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>


            </div>

            <div class="col-12 mx-1" id="images" style="overflow-y: scroll; height:500px; display:none;">
                @Umbraco.RenderMacro("uCommerceDesignpageMotives")
         



            </div>
            <div class="col-12 pt-1" id="fonts">
                <label>
                    Tilføj tekst
                </label>
                <input type="text" class="form-control">
                <p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Ariel
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            New Times Roman
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Lato
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Roboto
                        </label>
                    </div>
                </p>
            </div>

        </div>

    </div>



</div>

