﻿
@{
    Layout = null;



}

<style>
    body {
        background: #dedede;
    }

    .page-wrap {
        min-height: 100vh;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Siden du leder efter, findes ikke.</div>
                <a href="https://localhost:44354/" class="btn btn-link">Gå tilbage til forsiden</a>
            </div>
        </div>
    </div>
</div>
