﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="@(Request.ApplicationPath + "Content/bootstrap.min.css")" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link href="@(Request.ApplicationPath + "Content/sticky-footer-navbar.css")" rel="stylesheet" />

    <link href="@(Request.ApplicationPath + "Content/Custom.css")" rel="stylesheet" />
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="https://localhost:44354/"><img src="@(Request.ApplicationPath + "../Media/logo.png")" /></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    @Html.Action("Index", "Category")

                    @*@Html.Action("Index", "CategoryNavigation")*@



                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Min konto   <i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kurv   <i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>




            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item ">
                        <a class="nav-link" style="color:white" href="#">
                            <i class="fa fa-truck"></i> Fri levering over 300
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="color:white" href="#">
                            <i class="fa fa-comments"></i>  Kundeservice mellem 08.00 - 16.00
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="color:white" href="#">
                            <i class="fa fa-leaf "></i> Bæredygtige materialer
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>



    <!-- Begin page content -->
    <main role="main" class="pb-5">
        @RenderBody()

    </main>


    <div class="footer">
        <div class="container">

            <div class="float-left">

                <img src=@(Request.ApplicationPath +"Media/cards.png") />
            </div>

            <div class="float-right d-none d-sm-block">
                <a href="/om-os" class="btn btn-link text-white">Om os</a>
                <a href="/retunering" class="btn btn-link text-white">Retunering</a>
                <a href="/handelsbetingelser" class="btn btn-lin text-white">Handelsbetingelser</a>
            </div>




        </div>
    </div>
    <link href="@(Request.ApplicationPath + "Content/Custom.css")" rel="stylesheet" />

    <script src="@(Request.ApplicationPath + "Scripts/jquery-3.0.0.slim.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="@(Request.ApplicationPath + "Scripts/bootstrap.min.js")"></script>
</body>
</html>
