﻿@inherits  Umbraco.Web.Mvc.UmbracoViewPage<Loam.ViewModels.ProductViewModel>

@{
    Layout = "Layout.cshtml";
}

@Umbraco.RenderMacro("UcommerceBreadcrumbs")
<div class="container mt-5 bg-white">




    <div class="row">
        <div class="col-md-8">
            <div class="row">

                <div class="col-12 pt-5 ">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Egenskaber</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Produktbeskrivelser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Detaljer</a>
                        </li>
                    </ul>


                    <script>
                        $(function () {
                            $('#myTab li:last-child a').tab('show')
                        })
                    </script>
                </div>

            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row mt-5">
                        <div class="col-4 "><img class="img-thumbnail" src="@(Model.PrimaryImageMediaId)"></div>
                        <div class="col-8 ">
                            <p>     @Model.Name</p>


                            @Html.Raw(@Model.LongDescription);
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">hej</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">ds</div>
            </div>


        </div>
        <div class="col-md-4 bg-secondary">


            @if (Model.Variants.Count > 0)
            {
                <div class="row">
                    <div class="col-12 pt-5 ">
                        <b>
                            @Model.Name
                        </b>

                    </div>
                    <div class="col-12 pt-2 text-danger ">

                        @Model.Price inkl. moms
                    </div>
                    <div class="col-12 pt-2">

                        <a  href="/designer" class="btn btn-primary btn-block rounded-pill">Design din egen t-shirt</a>
                    </div>

                </div>

                <div class="row">

                    <div class="col-12 pt-2 ">
                        <label class="font-weight-bold">Find et motiv</label>

                    </div>




                    @foreach (var item in Model.Variants.ToList())
                    {
                        <div class="col-3 m-2">
                            <img src="  @item.PrimaryImageMediaId" class="" />


                        </div>
                    }





                </div>
                <div class="row">
                    <div class="col-12 pt-2  text-center">
                        <label>Se alle motiver</label>

                    </div>

                </div>
            }


            <div class="row">

                <div class="col-12 pt-2 ">
                    @if (Model.Properties.Count > 0)
                    {
                        foreach (var group in Model.Properties.GroupBy(item => item.PropertyName))
                        {
                            <label>@group.Key</label>
                            <select class="form-control">
                                @foreach (var value in group)
                                {


                                    foreach (var item in value.Values)
                                    {
                                        <option>
                                            @item
                                        </option>
                                    }



                                }
                            </select>
                        }
                    }



      
                </div>
            </div>

            <div class="row">
                <div class="col-12 pt-5 pb-5">

                    <a href="#" class="btn btn-success btn-block rounded-pill">Bestil</a>
                </div>
            </div>
        </div>
    </div>






</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

