﻿@inherits  Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Layout.cshtml";
}
<div class="container-fluid bg-white">
    <div class="container pt-5 pb-5">

        <h1> @Model.Value("pageTitle")</h1>

        <p>
            @Model.Value("pageContent")
        </p>

    </div>
</div>


