﻿@model IList<Loam.ViewModels.BreadcrumbsViewModel>

<style>
    .navbar {
        border-radius: 0px;
    }

    .navbar-inverse {
        border-radius: 0px;
    }
</style>
<nav>
    <ol class="breadcrumb">
        @foreach (var item in Model)
        {
        <li class="breadcrumb-item">
       
                @item.BreadcrumbName
  
        </li>
        }
    </ol>
</nav>