﻿
@model IEnumerable<Loam.ViewModels.CategoryViewModel>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="@item.Url/shop/@item.Name">@item.Name</a>
    </li>




}


