﻿@using Loam.ViewModels
@model CategoryViewModel
@{
    Layout = null;
}

<style>



    .btn-circle.btn-sm {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        font-size: 8px;
        text-align: center;
    }

    .btn-circle.btn-md {
        width: 50px;
        height: 50px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }
</style>

@foreach (var item in Model.Categories)
{

    if (item.Name.Contains("Red"))
    {
        <a type="button" href="/designer?color=@item.Name" class="btn btn-danger btn-circle btn-sm"></a>
    }
    if (item.Name.Contains("Blue"))
    {
        <a type="button" href="/designer?color=@item.Name" class="btn btn-primary btn-circle btn-sm"></a>
    }
    if (item.Name.Contains("Green"))
    {
        <a type="button" href="/designer?color=@item.Name" class="btn btn-success btn-circle btn-sm"></a>
    }


}




