﻿@model Loam.ViewModels.ProductsViewModel


<style>
    .card-product .img-wrap {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        height: 220px;
        text-align: center;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    .card-product .img-wrap img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .card-product .info-wrap {
        overflow: hidden;
        padding: 15px;
    }

    .card-product .bottom-wrap {
        padding: 15px;
    }

    .label-rating {
        margin-right: 10px;
        color: #333;
        display: inline-block;
        vertical-align: middle;
    }

    .card-product .price-old {
        color: #999;
    }
</style>

<div class="container mt-5 pt-5 bg-white">


    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">T-shirts</h1>
            <p class="text-center pt-5">
                Vi har t-shirts efter hver en smag, hver en pasform, det er kun fantasien der sætter grænser.
            </p>
        </div>
        <div class="col-md-12">
            <div class="btn-group">
                <a  class="btn btn-light" href="/?category=kvinde">Kvinder  <i class="fas fa-female"></i></a>
                <a  class="btn btn-light" href="/?category=mand">Mænd <i class="fas fa-male"></i></a>

            </div>
        </div>

    </div>
    <div class="row pt-5 ">

        @foreach (var item in Model.Products)
        {


<div class="col-md-4">
    <figure class="card card-product">
        <div class="img-wrap"><img src="@item.ThumbnailImageUrl"> </div>
        <figcaption class="info-wrap">
            <h4 class="title text-center">@item.Name</h4>
            <p class="desc text-center">@item.ShortDescription.Substring(0, 100)</p>

        </figcaption>
        <div class="bottom-wrap">
            <a href="@item.Url/p/@item.Name" class="btn btn-danger btn-block rounded-pill">Se produkt</a>

        </div> <!-- bottom-wrap.// -->
    </figure>
</div> <!-- col // -->            }
    </div>




</div>




